:root {
  --margin: 50px;
  --padding: 20px;
  --menuWidth: 20%;
  --socialWidth: 10%;
  --photoWidth: 300px
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
  &.page-home {
    .menu {
      width: 50%;
    }
    .social {
      width: 50%;
    }
    .menu-show {
      opacity: 0;
      pointer-events: none;
    }
  }
  &.closemenu {
    .menu {
      transform: translateX(-100%);
    }
    .main {
      margin-left: 50px;
    }
  }
  &.closesocial {
    .main {
      margin-right: 50px;
    }
    .social {
      transform: translateX(100%);
    }
  }
}
.main {
  width: 100%;
  transition: all .5s ease;
  background: #f2f2f2;
  margin: var(--margin) calc(10% + var(--margin)) var(--margin) calc(20% + var(--margin));
  .scroll-area {
    height: calc(100vh - 2 * var(--margin) - 2 * var(--padding));
    padding: 0 var(--padding);
    margin: var(--padding) 0;
  }
  &-container {
    height: 100%;
  }
}
