.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
  &.page-home {
    .menu {
      width: 50%;
    }
    .social {
      width: 50%;
    }
    .menu-show {
      opacity: 0;
      pointer-events: none;
    }
  }
  &.closemenu {
    .menu {
      transform: translateX(-100%);
    }
    .main {
      margin-left: 50px;
    }
  }
  &.closesocial {
    .main {
      margin-right: 50px;
    }
    .social {
      transform: translateX(100%);
    }
  }
}
.main {
  width: 100%;
  transition: all .5s ease;
  background: aqua;
  margin: 50px calc(10% + 50px) 50px calc(20% + 50px);
  //& > div {
  //  height: calc(100vh - 100px);
  //  margin: 50px;
  //  overflow: auto;
  //}
  .scroll-area {
    height: calc(100vh - 100px);
  }
  &-container {
    height: 100%;
  }
}
