@media only screen and (max-width: 1200px) {
  :root {
    --photoWidth: 200px;
  }
  .social {
    &-link {
      svg {
        width: 30px;
      }
    }
  }
  .portfolio{
    &-list {
      columns: 3;
    }
  }
  .closemenu.closesocial .portfolio-list {
    columns: 4;
  }
}
