.portfolio {
  &-list {
    columns: 4;
    font-size: 0;
  }
  &-item {
    font-size: 0;
    opacity: 0.7;
    transition: all .3s ease;
    display: block;
    position: relative;

    &:hover {
      opacity: 1;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
    &-img {
      width: 100%;
    }
  }
}
.closemenu.closesocial {
  .portfolio-list {
    columns: 5;
  }
}
